{% extends 'base.html.twig' %}

{% block body %}
    <h1>Create User</h1>
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}

    {% if message is defined %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}
