{% extends 'base.html.twig' %}

{% block body %}
    <h1>Users</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Enable</th>
                <th>Birthdate</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.name }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.enable ? 'Yes' : 'No' }}</td>
                    <td>{{ user.birthdate }}</td>
                    <td>{{ user.address }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
